*
{
box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{
	display: block;
}
body 
{
	line-height: 1;
}
ol, ul 
{
	list-style: none;
}
blockquote, q 
{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after 
{
	content: '';
	content: none;
}
table 
{
	border-collapse: collapse;
	border-spacing: 0;
}
* 
{
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html 
{
	height: 100%;
	font-family:sans-serif;
}
a:hover 
{
	text-decoration: none;
}
input 
{
	outline: none;
	border: none;
}
textarea 
{
  outline: none;
  border: none;
}
button 
{
	border: none;
	background: transparent;
}

button:hover 
{
	cursor: pointer;
}
.text1 
{
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color:#000;
  text-decoration: none;
}
.signup-container
{
  width: 100%;  
  display: flex; 
  margin: 0 auto;
  height: 100vh;
}

.signup-form
{
  position: relative;
  width: 450px;
  background: #fff;
  padding: 40px;
 
}
.background 
{
  background-image: url(../images/bg-01.jpg);
  flex: 1 1 0px;
  background-position: top left;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center; 
}
.background::before
{
  content: "";
  position:absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: -webkit-linear-gradient(bottom, #df66a4, #c77ff2);
  background: -moz-linear-gradient(bottom, #e8519e, #c77ff2);
  background: linear-gradient(bottom, #e8519e, #cc88f3);
  opacity: 0.8;
}
h1.text-signup 
{
  display: block;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  color: #000;
  text-align: left;
  margin-top: 15px;
}
.input 
{
  margin-top: 30px;
  width: 100%;
  position: relative;
  border-bottom: 2px solid #e4dfdf;
  margin-bottom: 23px;
}
.login-label 
{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  padding-left: 2px;
  color: #8d8888;
}
.login-input
{
  display: block;
  width: 100%;
  height: 35px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  padding: 0 4px;
  
}
.signup-button
{
  padding:10px;
  width: 200px;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #fff;
  background: #e8519e;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  background: -webkit-linear-gradient(bottom, #df66a4, #c77ff2);
  background: -moz-linear-gradient(bottom, #e8519e, #c77ff2);
  background: linear-gradient(bottom, #e8519e, #cc88f3);
}
.signup-button-wrap
{
  float: left;
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signin
{
  text-decoration: none;
  color: rgb(136, 133, 133);
  font-family: 'Poppins', sans-serif;
}
::placeholder
{
  color: #cec8c8;
}
a
{
  text-decoration: none;
  color: rgb(102, 93, 93);
}
@media screen and (max-width:345px)
{
  .signup-button-wrap
  {
    flex-direction: column;
    margin-top: 20px;
  }

}

  
